*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px;
    padding: 5px;

}

h1 {
    color: brown;
}
#form_H1{
    color: rgb(216, 44, 182);
}

.classA{
    background-color: blue;
    color: aliceblue;
    display: block;
}

div a{  
    display: block;
    border: 1px solid black;
    width: auto;
    background-color: gold;
    text-transform: uppercase;
}

button{
    background-color: chartreuse;
    cursor: pointer;
}