<!DOCTYPE html>
    <!--למה אין תגית פותחת או סוגרת? התשובה      דוקטייפ-->
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <script src=""></script> 
        <meta> 
        <title>this is the firs HTML example </title>
    </head>
    <!--ti-->
    <body>
        <h1 id="PageMainHead" class="TypeA"><u><i><b>first one</b></i></u></h1>     <!--id זה סוג של הטרביוט שעוזר לנו לפנות לזה אחכ-->
        <h6 style="color:rgb(15, 231, 210);font-family:monospace">very small</h6>
        <p Class="TypeA">line1<br>line2</p>                             <!--הטייפ יוצר סוג של קבוצה שעוזרת לנו לפנות אליו אחכ, כמו איידיי אבל כללי יותר-->
        <p id="gogi text">look, this is gogi</p>
        <img src="../images/GOGI.jpg" alt="gogi the helicopter pilot" width="420">
        <br>
        <video src="../images/videoplayback (2).mp4" controls></video>
        <a href="https://www.mako.co.il/">mako link</a>
        <ol>
            <li>one</li>
            <li>two</li>
            <li>three</li>
        </ol>
        <table style="border: 1px black solid;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
            </tr>
            <tr>
                <th>2099132312</th>
                <th>amir</th>
                <th>aaaa@gmail.com</th>
            </tr>
            <tr>
                <th>823129233</th>
                <th>drori</th>
                <th>drori@gmail.com</th>
            </tr>
        </table>     
    </body>
</html>